.padre{
  height: 200px;
  width: 200px;
  position: relative;
}
.hijo{
  height: 100px;
  width: 100px;
  position: absolute;
}
#uno{
  top:50px;
  left:  50px;
  background-color: #FF6F00;
}
#dos{
  top: 100px;
  left: 50px;
  background-color: #0C31F5;
}
#hijouno{
  top: 50px;
  left: 50px;
  background-color: #FFEC00;
}
