.padre{
  height: 200px;
  width: 200px;
  position: relative;
}
.hijo{
  height: 100px;
  width: 100px;
}
.interno{
  height: 50px;
  width: 50px;
}
#uno{
  top:50px;
  left:  50px;
  background-color: #FF6F00;
}
#dos{
  top: 100px;
  left: 50px;
  background-color: #0C31F5;
}
#hijouno{
  background-color: #FFEC00;
  position: absolute;
  top: 50px;
  left: 50px;

}
#hijodos{
  background-color: #FF6F00;
  position: relative;
  top:50px;
  left: 50px;
}
#internouno{
  background-color: #546DF1;
}
#internodos{
  background-color: #FFEC00;
  position:absolute;
  top: -50px;
  left: -50px;
}
